[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/bunnie/ChibiOS
[submodule "ChibiOS-Contrib"]
	path = ChibiOS-Contrib
	url = https://github.com/bunnie/ChibiOS-Contrib
[submodule "ugfx"]
	path = ugfx
	url = https://github.com/bunnie/ugfx-xz.git
