[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/rowr111/ChibiOS
[submodule "ChibiOS-Contrib"]
	path = ChibiOS-Contrib
	url = git@github.com:rowr111/ChibiOS-Contrib
[submodule "ugfx"]
	path = ugfx
	url = https://github.com/rowr111/ugfx-xz.git
