#
# Config for accessing Orchard through Raspberry Pi's GPIO header.
#
# It is designed to hang off the end of the A+ or B+ header, on pins
# 32, 34, 36, 38, and 40.  Pin 32 may be omitted.
#

interface sysfsgpio

transport select swd

# Plug the cable in to the corner of the board, close to the USB ports.
# Be sure to set GPIO12 as an input, to avoid clashing with 3.3V signals.
#
# RPi A+,B+ GPIO: J8 40-pin header
# --------------------------------
#         +3V3 1  2   +5V
# GPIO2   SDA1 3  4   +5V
# GPIO3   SCK1 5  6   GND
# GPIO4   GCLK 7  8   TXD0
#          GND 9  10  RXD0
#              .....
# EEPROM ID_SD 27 28  ID_SC EEPROM
# GPIO5        29 30  GND
# GPIO6        31 32        GPIO12  < Reset (optional)
# GPIO13       33 34  GND           < GND
# GPIO19       35 36        GPIO16  < 3.0V (map to GPIO input)
# GPIO26       37 38        GPIO20  < SWCLK
#          GND 39 40        GPIO21  < SWDIO
# --------------------------------

sysfsgpio_swclk_num 20
sysfsgpio_swdio_num 21
sysfsgpio_srst_num 12
reset_config srst_only

# Kinetis target
source [find target/kx.cfg]

# Enable ChibiOS thread debugging
kx.cpu configure -rtos ChibiOS

# Initialize OpenOCD, which allows us to run more commands like "reset"
#init

#reset

#kinetis mdm mass_erase

#program build/netvcr.elf

# Halt the CPU, allowing GDB to attach
#reset halt
