interface sysfsgpio
transport select jtag

sysfsgpio_tdi_num 26
sysfsgpio_tdo_num 19
sysfsgpio_tck_num 20
sysfsgpio_tms_num 21
sysfsgpio_swclk_num 20
sysfsgpio_swdio_num 21
sysfsgpio_srst_num 12
reset_config srst_only

#
# Freescale Kinetis k64f devices
#
#source [find interface/cmsis-dap.cfg]

#
# k64f devices support both JTAG and SWD transports.
#
source [find target/kx.cfg]
#source [find target/swj-dp.tcl]

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME kx
}

if { [info exists CPUTAPID] } {
    set _CPUTAPID $CPUTAPID
} else {
    set _CPUTAPID 0x4ba00477
}

set _TARGETNAME $_CHIPNAME.cpu

swj_newdap $_CHIPNAME cpu -irlen 4 -expected-id $_CPUTAPID

target create $_TARGETNAME cortex_m -chain-position $_CHIPNAME.cpu

$_CHIPNAME.cpu configure -event examine-start { puts "START..." ; }

# It is important that "kinetis mdm check_security" is called for
# 'examine-end' event and not 'eximine-start'. Calling it in 'examine-start'
# causes "kinetis mdm check_security" to fail the first time openocd
# calls it when it tries to connect after the CPU has been power-cycled.
$_CHIPNAME.cpu configure -event examine-end {
    kinetis mdm check_security
}

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size 0x1000 -work-area-backup 0

#flash bank $_CHIPNAME.flash kinetis 0 0 0 0 $_TARGETNAME
program build/netvcr.elf

cortex_m reset_config sysresetreq
reset_config srst_only srst_nogate connect_assert_srst

adapter_khz 1000

$_TARGETNAME configure -event gdb-attach {
  halt
}
